<?xml version="1.0" encoding="utf-8"?>
<!--
https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://chucknorrisjokesalwa.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>False</LaunchSiteAfterPublish>
    <ResourceId>/subscriptions/daa2efc0-7738-453b-a104-b06a1a25b1e8/resourceGroups/WhatsAppJokeSalwa/providers/Microsoft.Web/sites/ChuckNorrisJokeSalwa</ResourceId>
    <UserName>$ChuckNorrisJokeSalwa</UserName>
    <_SavePWD>True</_SavePWD>
    <PublishUrl>https://chucknorrisjokesalwa.scm.azurewebsites.net/</PublishUrl>
  </PropertyGroup>
</Project>